@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: pink;
    color: #fff;
  }
  
  h2{
    margin-top: 70px;
    font-family: Josefin Sans;
    text-align: center;
    font-size: 2em;
  }

  .subtitle {
   font-size: 1em;
  }

  p {
    font-family: Josefin Sans;
    margin-top: 10px;
  }

  div {
    font-family: Josefin Sans;
  }


  .main-forms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 300px;
  }

  .form-wrapper .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .signup-form input {
    margin-top: 50px;
    margin-bottom: 15px;
  }

  #login-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
 }

 #login-form input {
   margin-top: 30%;
 }

 .button {
   color: white;
   margin-top: 20%;
   background-color: pink;
   border-style: none;
   border-bottom: 1px solid white;
   font-family: Josefin Sans;
   margin-bottom: 30px;
 }

  #name {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }
  
  #password {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }

  #repeat-password {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }

  #email {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }
  
  .glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
    }
  }

  ::placeholder {
    font-family: Josefin Sans;
    color: white;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;}

    @media only screen and (max-width: 600px) {
      h2{
        margin-top: 50px;
        font-size: 1.5em;
      }
    
      .subtitle {
       font-size: 0.7em;
      }
    
      p {
        font-family: Josefin Sans;
        margin-top: 5px;
      }

      .signup-form input {
        margin-top: 25px;
        margin-bottom: 7px;
      }
    }