@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


#body {
    background-color: pink;
}

html {
    scroll-behavior: smooth;
  }

.good-illustration {

}


/*logo*/
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
}

/* .gato {
    animation:rotate 20s linear alternate-reverse infinite; 
        stroke: red;
}
@keyframes rotate { 100% { transform:scaleY(0.4); } } */

/*main content*/
.sender-receiver {
    display: flex;
    justify-content: center;
}

.sender {
    margin-right: 50px;
    border: none;
    background-color: pink;
    border-bottom: 1px solid white;
}

.click-a-flying-cat {
    font-family: Josefin Sans;
    color: white;
}

p {
    margin-bottom: 0px;
    padding: 0px;
    font-style: Josefin Sans;
}

.img-random {
    width: 37%;
    left: 30%;
    display: none;
}

.close-button {
    width: 3%;
    left: 64%;
    z-index: 15;
    display: none;
}

.imagenes-centrar {
    height: auto;
    position: absolute;
    top: 50px;
}

.img-random2 {
    width: 250px;
    position: absolute;
    top: 130px;
    left: 35px;
    display: none;
}

.close-button2 {
    width: 20px;
    left: 83%;
    top: 135px;
    z-index: 20;
}

.divisor-ilustracion-mobil {
    margin-bottom: 0;
    height: 0;
}

.conejitos {
    position: relative;
}


p.frase-tag-p {
    display: inline;
    text-align: justify;
    font-size: 2em;
    height: auto;
    width: 200px;
    position: absolute;
    left: 40%;
    top: 250px;
}

#senderid {
    width: 12%;
}



.good-illustration-mobile {
    display: none;
}

/*about*/

.about-GCAU {
    background-color: rgb(57, 255, 20);
    margin-top: 0px;
}

a .logo-gcau {
    width: 70vh;
    margin-bottom: 0px;
}


.cajita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 100%;
    text-align: center;
    line-height: 40px;
    font-family: Josefin Sans;
    font-size: 1.5em;

}

/*end about*/
/*archive*/

.archive-body {
    background-color: pink;
}

.container-imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.imagen {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 300px;
}

/*archive*/

@media only screen and (max-width: 600px) {

    .logo {
        display: none;
    }

    .logo-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
     }

    .good-illustration {
        display: none;
    }

    .good-illustration-mobile {
        display: block;
    }

    .img-random {
        width: 50%;
        left: 20%;
        margin-top: 25%;
    }

    .close-button {
        width: 3%;
        left: 67%;
        z-index: 15;
        display: none;
        margin-top: 25%;
    }

    a .logo-gcau {
        width: 50vh;
    }

    p.frase-tag-p {
        width: 40%;
        left: 27%;
        font-size: 1.2em;
        top: 250px;
    }

    .sender-receiver {
        margin-left: 3%;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        font-size: 0.7em;
    }

    .sender {
        margin-right: 8px;
    }

    #senderid {
        width: 30%;
    }
}

::placeholder {
    font-family: Josefin Sans;
    color: white;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}