#body {
    background-color: pink;
}

/* .gato {
    animation:rotate 20s linear alternate-reverse infinite; 
        stroke: red;
}
@keyframes rotate { 100% { transform:scaleY(0.4); } } */

/*main content*/
.sender-receiver {
    display: flex;
    align-items: center;
    margin-left: 400px;
}
.sender {
    margin-right: 50px;
    border: none;
    background-color: pink;
    border-bottom: 1px solid white;
}
.receiver {
    margin-right: 50px;
    border: none;
    background-color: pink;
    border-bottom: 1px solid white;
}
.img-random {
    height: auto;
    width: 40%;
    position: absolute;
    left: 35%;
    margin-left: -50px;
    top: 15%;
    margin-top: -50px;
    display: none;
}

.close-button {
    height: auto;
    width: 3%;
    position: absolute;
    left: 72%;
    margin-left: -50px;
    top: 15%;
    margin-top: -50px;
    z-index:15;
    display: none;
}

.good-illustration {
    z-index: 2;
    position: relative;
}

p.frase-tag-p {
    font-size: 2em;
    height: auto;
    width: 40%;
    position: absolute;
    left: 45%;
    margin-left: -50px;
    top: 30%;
    margin-top: -50px;
} 

/*about*/
.about-GCAU {
    background-color: rgb(57, 255, 20);
}

.logo-gcau {
    margin-top: 8%;
    width: 40%;
}


.cajita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100%;
    text-align: center;
    line-height: 150%;
}

/*end about*/
/*archive*/

.archive-body {
    background-color: blue;
}

.section-archive {
    display: flex;
}

.container-imagenes {
    display: flex;
}

.imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6 {
   width: 30%;
   margin-left: 5%;
   margin-right: 5%;
}

/*archive*/
/*signup*/

/* 
.navigation {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: right;
    }

    nav {
        display: grid;
        grid-template-rows: minmax(min-content, 100px) min-content;
    }

    nav .content {
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        align-content: space-evenly;
    }

    nav .content .links {
        display: grid;
        grid-gap: 300px;
        place-items: center;
        grid-auto-flow: column;
        grid-auto-columns: minmax(min-content, 80px);
    } */
