@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


#body {
    background-color: pink;
}

.navbar {
    color: black;
}

/* .gato {
    animation:rotate 20s linear alternate-reverse infinite; 
        stroke: red;
}
@keyframes rotate { 100% { transform:scaleY(0.4); } } */

/*main content*/
.sender-receiver {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.sender {
    margin-right: 50px;
    border: none;
    background-color: pink;
    border-bottom: 1px solid white;
}

.receiver {
    margin-right: 50px;
    border: none;
    background-color: pink;
    border-bottom: 1px solid white;
}

p {
    margin-bottom: 0px;
    padding: 0px;
    font-style: Josefin Sans;
}



.img-random {
    width: 40%;
    left: 30%;
    display: none; 
}

.close-button {
    width: 3%;
    left: 67%;
    z-index:15;
    display: none;
}

.imagenes-centrar {
    height: auto;
    position: absolute;
    top: 50px;
}

.conejitos {
    position: relative;
}


p.frase-tag-p {
    text-align: center;
    font-size: 2em;
    height: auto;
    width: 200px;
    position: absolute;
    left: 42%;
    top: 250px;
} 





 .good-illustration-mobile{
    display: none;
 }

/*about*/

.about-GCAU {
    background-color: rgb(57, 255, 20);
}

a .logo-gcau {
    margin-top: 10%;
    width: 40%;
}


.cajita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100%;
    text-align: center;
    line-height: 150%;
}

/*end about*/
/*archive*/

.archive-body {
    background-color: pink;
}
.container-imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 200px;
}

.imagen {
   margin-top: 50px;
   margin-left: 5%;
   margin-right: 5%;
   max-width: 300px;
}

/*archive*/
/*signup*/

/* 
.navigation {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: right;
    }

    nav {
        display: grid;
        grid-template-rows: minmax(min-content, 100px) min-content;
    }

    nav .content {
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        align-content: space-evenly;
    }

    nav .content .links {
        display: grid;
        grid-gap: 300px;
        place-items: center;
        grid-auto-flow: column;
        grid-auto-columns: minmax(min-content, 80px);
    } */

    @media only screen and (max-width: 600px){           
     
        .good-illustration{
          display: none;
        }
     
        .good-illustration-mobile {
          display: block;
        }
     } 
    