
body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: pink;
    color: #fff;
  }


  .main-forms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  #name {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }
  
  #password {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }

  #repeat-password {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }

  #email {
    border: 0px;
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }
  