body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: pink;
    color: #fff;
  }
  
  .container {
    width: 80%;
    max-width: 500px;
    margin-top: 20%;
    margin-bottom: 40%;
  }
  
  
  #password {
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }
  #email {
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }
  
  #last-name {
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }

  #first-name {
    border-bottom: 1px solid white;
    background-color: pink;
    padding: 0;
  }
  